

.s1-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    width: 50%;

    background-color: pink;
    margin: 0 auto;
}

.layui-btn{
    margin: 0 auto;
}


body,
html { 
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc; /* 边框样式 */
    padding: 20px; /* 内边距 */
}


#startButton,
#submitButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    transition: all 0.5s ease;
    /* 过渡效果 */
    cursor: pointer;
}

.selected {
    background-color: #28a745 !important;
    /* 选中时的背景颜色 */
}